@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@200;300&family=Roboto:wght@300&display=swap');
body{
   background: rgb(33,28,117);
   background: linear-gradient(90deg, rgba(33,28,117,1) 0%, rgba(49,140,231,1) 21%, rgba(0,196,196,1) 100%); 
   font-family: 'Roboto Slab', serif;

}
.Header{
   font-size: 50px;
   text-align: center;
   margin-bottom: 10px;
}
.Info{
   font-size: 25px;
   background-color:tomato;
   color:white;
   border-radius:10px;
   padding:10px;
   border: 2px solid springgreen;
}
.images{
   position: absolute;
   top:180;
   left: 800;
   border: 3px solid black;
   border-radius: 50px;
}
h2{
   margin-top: 0px;
   margin-bottom: 0px;
}
ul{
   margin-top: 0px;
}